$default-color: #3cb043;
$secondary-color: #ccc;
$white: #fff;

.excel-generator-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: $default-color;
}
.excel-generator-body .wrapper {
    width: 605px;
    background: $white;
    border-radius: 15px;
    padding: 30px 30px 25px;
    header {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
    }
    .content {
        margin: 35px 0 20px;
        textarea {
            z-index: inherit;
            width: 100%;
            resize: none;
            padding: 20px;
            outline: none;
            border-radius: 10px;
            border: 2px solid lighten($color: $default-color, $amount: 30%);
            &:focus {
                border-color: $default-color;
                background: lighten($color: $default-color, $amount: 50%);
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $secondary-color;
        padding-top: 20px;
        .filename {
            input {
                height: 50px;
                width: 250px;
                font-size: 20px;
                padding: 0 10px;
                border-radius: 10px;
                border: 2px solid lighten($color: $default-color, $amount: 30%);
                margin-right: 5px;
                outline: none;
                &:focus {
                    border-color: $default-color;
                }
            }
            label {
                font-size: 30px;
                color: lighten($color: $default-color, $amount: 30%);
                user-select: none;
            }
        }
        button {
            border: none;
            outline: none;
            color: $white;
            cursor: pointer;
            font-size: 16px;
            padding: 13px 22px;
            border-radius: 30px;
            background: $default-color;
            transition: all 0.3s ease;
            &:hover:not(:disabled) {
                box-shadow: 0 5px 10px $default-color;
            }
            &:disabled {
                opacity: 0.7;
                pointer-events: none;
            }
        }
    }
}
